<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up | By Code Info</title>
    <link rel="stylesheet" href="/static/login_style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="signup-box">
      <h1>Bone Information</h1>
      <h4>It's free and only takes a minute</h4>
      <form action="/bn_insert" method="post">
        <label>Cause</label>
        <input type="text" placeholder="" name="cause" />
        <label>Symptom</label>
        <input type="text" placeholder="" name="symptom" />
        <label>Part Of Fractured</label>
        <input type="text" placeholder="" name="part_of_fractured" />
        <label>Last Test Details</label>
        <input type="text" placeholder="" name="last_test_details" />
        
        <input type="submit" value="Submit" />
      <closeform></closeform></form>
      
        
    </div>
    
  </body>
</html>