<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <img src="/static/herbal.jpg" height="600" width="2000"></img>
  <h1> CAUTION:
    <ol><li> Always consult a healthcare professional before using medicinal plants
         for specific health concerns and in appropriate dosages.</li></ol>
         <table style="width:50%"
      >
            <tr>
              <th  style="width:20% text-align: left">SL.NO</th>
              <th>SCIENTIFIC NAME</th>
              <th>COMMON NAME</th>
            </tr>
            <tr>
              <td>1]</td>
              <td>ALPINIA GALANGA </td>
              <td>RASNA</td>
            </tr>
            <tr>
              <td>2]</td>
              <td>AMARANTHUS VIRIDIS </td>
              <td> ARIVE-DANTU</td>
            </tr>
            <tr>
                <td> 3]</td>
                <td> ARTOCARPUS HETEROPHYLLUS</td>
                <td> JACKFRUIT</td>
              </tr>
              <tr>
                <td>4]</td>
                <td> AZADIRACHTA INDICA</td>
                <td> NEEM</td>
              </tr>
              <tr>
                <td>5]</td>
                <td> BASELLA ALBA</td>
                <td> BASALE</td>
              </tr>
              <tr>
                <td> 6]</td>
                <td> BRASSICA JUNCEA</td>
                <td> INDIAN MUSTARD</td>
              </tr>
              <tr>
                <td>7]</td>
                <td> CARISSA CARANDAS</td>
                <td> KARANDA</td>
              </tr>
              <tr>
                <td>8]</td>
                <td> CITRUS LIMON</td>
                <td> LEMON</td>
              </tr>
              <tr>
                <td> 9]</td>
                <td>FICUS AURICULATA</td>
                <td> ROXBURGH FIG</td>
              </tr>
              <tr>
                <td> 10]</td>
                <td> FICUS RELIGIOSA</td>
                <td> PEEPAL TREE</td>
              </tr>
              <tr>
                <td>11]</td>
                <td> HIBICUS ROSA-SINENSIS</td>
                <td> HIBICUS</td>
              </tr>
              <tr>
                <td>12]</td>
                <td> JASMINUM</td>
                <td> JASMINE</td>
              </tr>
              <tr>
                <td>13]</td>
                <td> MAGNIFERA INDICA</td>
                <td> MANGO</td>
              </tr>
              <tr>
                <td>14]</td>
                <td> MENTHA</td>
                <td> MINT</td>
              </tr>
              <tr>
                <td> 15]</td>
                <td> MORINGA OLEIFERA</td>
                <td> DRUMSTICK</td>
              </tr>
              <tr>
                <td>16]</td>
                <td> MUNTINGIA CALABURA</td>
                <td> JAMAICA CHERRY-GASAGASE</td>
              </tr>
              <tr>
                <td>17]</td>
                <td> MURRAYA KOENIGGII</td>
                <td> CURRY</td>
              </tr>
              <tr>
                <td>18]</td>
                <td> NERIUM OLEANDER</td>
                <td> OLEANDER</td>
              </tr>
              <tr>
                <td>19]</td>
                <td> NYCTANTHES ARBOR-TRISTIS</td>
                <td> PARIJATA</td>
              </tr>
              <tr>
                <td> 20]</td>
                <td> OCIMUM TENUIFLORUM</td>
                <td> TULSI</td>
              </tr>
              <tr>
                <td>21]</td>
                <td> PIPER BETLE</td>
                <td>BETEL</td>
              </tr>
              <tr>
                <td>22]</td>
                <td> PLECTRANTHUS AMBOINICUS</td>
                <td> MEXICAN MINT</td>
              </tr>
              <tr>
                <td>23]</td>
                <td> PONGAMIA PINNATA</td>
                <td> INDIAN BEECH</td>
              </tr>
              <tr>
                <td>24]</td>
                <td> PSIDIUM GUAJAVA</td>
                <td> GUAVA</td>
              </tr>
              <tr>
                <td>25]</td>
                <td> PUNICA GRANATUM</td>
                <td> POMEGRANATE</td>
              </tr>
              <tr>
                <td>26]</td>
                <td>SANTALUM ALBUM </td>
                <td>SANDALWOOD</td>
              </tr>
              <tr>
                <td>27]</td>
                <td> SYZYGIUM CUMINI</td>
                <td>JAMUN </td>
              </tr>
              <tr>
                <td> 28]</td>
                <td> SYZYGIUM JAMBOS</td>
                <td> ROSE APPLE</td>
              </tr>
              <tr>
                <td> 29]</td>
                <td> TSBERNAEMONTANA DIVARICATA</td>
                <td>CRAPE JASMINE</td>
              </tr>
              <tr>
                <td>30]</td>
                <td> TRIGONELLA FOENUM-GRAECUM</td>
                <td> FENUGREEK</td>
              </tr>
        </table>


</body>
</html>


