{% include"nav.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER DETAILS</title>
</head>
<body>
    <img src="/static/maxresdefault.jpg" height="900" width="1600"></img>
    <h1></h1>
    <!--<h1>MEDICINAL PLANT NAME LIST</h1>
    <table>
        <tr>PLANT NAME</tr>
        <td>Alpinia Galanga (Rasna)</td>
        <td>Amaranthus Viridis (Arive-Dantu)</td>
        <td>Artocarpus Heterophyllus (Jackfruit)</td>
        <td>Azadirachta Indica (Neem)</td>
        <td>Basella Alba (Basale)</td>
        <td>Brassica Juncea (Indian Mustard)</td>
        <td>Carissa Carandas (Karanda)</td>
        <td>Citrus Limon (Lemon)</td>
        <td>Ficus Auriculata (Roxburgh fig)</td>
        <td>Ficus Religiosa (Peepal Tree)</td>
        <td>Hibiscus Rosa-sinensis</td>
        <td>Jasminum (Jasmine)</td>
        <td>Mangifera Indica (Mango)</td>
        <td>Mentha (Mint)</td>
        <td>Moringa Oleifera (Drumstick)</td>
        <td>Muntingia Calabura (Jamaica Cherry-Gasagase)</td>
        <td>Murraya Koenigii (Curry)</td>
        <td>Nerium Oleander (Oleander)</td>
        <td>Nyctanthes Arbor-tristis (Parijata)</td>
        <td>Ocimum Tenuiflorum (Tulsi)</td>
        <td>Piper Betle (Betel)</td>
        <td>Plectranthus Amboinicus (Mexican Mint)</td>
        <td>Pongamia Pinnata (Indian Beech)</td>
        <td>Psidium Guajava (Guava)</td>
        <td>Punica Granatum (Pomegranate)</td>
        <td>Santalum Album (Sandalwood)</td>
        <td>Syzygium Cumini (Jamun)</td>
        <td>Syzygium Jambos (Rose Apple)</td>
        <td>Tabernaemontana Divaricata (Crape Jasmine)</td>
        <td>Trigonella Foenum-graecum (Fenugreek)</td>
        </tr>
    </table>-->

    </body>
</html>