{% include"nav.html"%}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
   <img src="/static/ROSE.jpg" height="700" width="2050"></img>
    <h1>PLANT DETAILS:</h1>
    <p>Mother earth is enriched and nourished with a variety of plants. These plants are useful in many ways such as drug formulation, production of herbal products, and medicines to cure many common ailments and diseases. For the past 5000 years, Ayurveda, a traditional Indian medicinal system is widely accepted even today. India is a rich country for being the habitat for a variety of medicinal plants. Many parts of the plants such as leaves, bark, root, seeds, fruits, and many more are used as a vital ingredient for the production of herbal medicines. Herbal medicines are preferred in both developing and developed countries as an alternative to synthetic drugs mainly because of no side effects.
        Recognition of these plants by human sight will be tedious, time-consuming, and inaccurate. Applications of image processing and computer vision techniques for the identification of the medicinal plants are very crucial as many of them are under extinction as per the IUCN records. Hence, the digitization of useful medicinal plants is
         crucial for the conservation of biodiversity. Studies reveal that to build 
         an intelligent system for recognition of medicinal herbs requires a decent size of plant leaf dataset. </p>
         <p>The leaves plucked are from different plants of the same species available in local gardens.</p>
         <p>The images of the leaf in the dataset are slightly rotated and tilted to take its utmost advantage in training any machine learning and deep learning models. 
            The contribution of the medicinal plant leaf dataset to develop Artificial Intelligence models (machine learning and deep learning) will assist many researchers and computer scientists to detect, identify the species and its diseases and learn more about the herb existence and medicinal properties. By releasing this dataset to the community, we look forward to stimulate research in medicinal plants where the current lack of public datasets is one of the main barriers for progress.</p>
        </body>
</html>
